body 
{
    width: 80vw;
    background-color: #C0C0C0;
    margin: 0 auto;
    padding: 0;
}

#container
{
    background-color: #DDDDDD;
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: outset;
    overflow: scroll;
}

header
{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 0.2vh;
}

h1
{
    color: red;
    font-family: 'Courgette', cursive;
    font-size: 5em;
    margin: 0;
}

#login_div
{
    background-color: #2E8B57;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

nav
{
    width: 52%;
    background-color: #2E8B57;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding-left: 24%;
    padding-right: 24%;
}

nav ul
{
    float: left;
    list-style-type: none;
    width: 25%;
    min-width: 137px;
    margin: 0;
    padding-left: 0;
}

nav h2
{
    font-size: 1.2em;
    text-align: center;
    color: #2E8B57;
    border: 1px solid #2E8B57;
    background-color: #C0C0C0;
    margin: 0;
}

nav span
{ 
    line-height: 2.5;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    border: 1px solid #2E8B57;
    text-align: center;
    background-color: #C0C0C0;
    color: #2E8B57;
}

nav span:hover
{
    background-color: bisque;
    color: #000000;
}

nav li
{
    position: relative;
}

nav ul ul
{
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

nav ul li:hover h2
{
    background-color: bisque;
    color: #000000;
    cursor: pointer;
}

nav ul li:hover ul
{
    display: block;
    cursor: pointer;
}

.direct
{
    font-size: 1.2em;
    text-align: center;
    color: #2E8B57;
    border: 1px solid #2E8B57;
    background-color: #C0C0C0; 
}

.direct:hover
{
    background-color: bisque;
    color: #000000;
    cursor: pointer;
}

#content_div
{
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
}

#editor_div
{
    float: left;
    width: 100%;
}

div.photoalbum
{
    float: left;
    width: 20%;
    text-align: center;
}

img.photoalbum
{
    border: thin #DDDDDD solid;
    overflow: hidden;
}

img.photoalbum:hover
{
    border: thin #000 solid;
    cursor: pointer;
}

h3.photoalbum
{
    margin: 0 auto;
    font-variant: small-caps;
}

#availabilityInfo
{
    margin-top: 0.4vh;
    color: #DDDDDD;
}

#album_div
{
    width: 60%;
    float: left;
}

#editor_div legend
{
    font-size: 20px;
}

label.field
{
    text-align: right;
    width: 20%;
    float: left;
    font-weight: bold;
}

.shortField
{
    text-align: right;
    width: 50%;
    float: left;
    font-weight: bold;
}

.forms
{
    width: 60%;
    float: left;
}

.short
{
    float: left;
}

fieldset p
{
    padding: 5px;
}

#albumSubmit, #fileUpload, #fileSubmit, #publishSubmit
{
    width: 30%;
    margin-left: 35%;
    float: left;
}

#fotoList_div
{
    width: 40%;
    float: left;
}

#fotoList_div fieldset
{
    margin: 0 10%;
    padding-left: 5%;
    padding-right: 5%;
    height: 510px;
}

#fotoList
{ 
    background-color: white;
    text-align: center;
    border-style: inset;
    height: 92%;
}

#fotoList p
{
    z-index: -10;
    border-bottom: thin solid #000000;
    margin: 0;
    padding: 5% 0;
}

#fotoList_div p:hover
{
    background-color: blue;
    color: white;
    cursor: pointer;
}

#info_div
{
    width: 60%;
    float: left;
}

::-webkit-scrollbar
{ 
    display: none; 
}